<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="sconstring" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Adit\Desktop\minor-project\SV Shopping Mall(Green-Blue)\SV Shopping Mall(Green-Blue)\App_Data\Shopping Mall.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True;Connect Timeout=50;"/>
		<!--add name="Shopping MallConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Shraddha\FINAL PROJECT\SV Shopping Mall(Black)\App_Data\Shopping Mall.mdf&quot;;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" /-->
	</connectionStrings>
	<system.web>
		<pages styleSheetTheme="CLIENT" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Data.SqlClient"/>
				<add namespace="System.Data"/>
			</namespaces>
			<controls>
				<add tagPrefix="login" tagName="HomeLogin" src="~/CLIENT/UserControl/homelogin.ascx"/>
				<add tagPrefix="user" tagName="Header" src="~/CLIENT/UserControl/header.ascx"/>
				<add tagPrefix="user" tagName="MenuBar" src="~/CLIENT/UserControl/menubar.ascx"/>
				<add tagPrefix="user" tagName="HomeMenuBar" src="~/CLIENT/UserControl/homemenubar.ascx"/>
				<add tagPrefix="user" tagName="CategoryMenuBar" src="~/CLIENT/UserControl/categorymenubar.ascx"/>
				<add tagPrefix="user" tagName="loginmyaccountmenubar" src="~/CLIENT/UserControl/loginmyaccountmenubar.ascx"/>
				<add tagPrefix="user" tagName="Gift" src="~/CLIENT/UserControl/giftzone.ascx"/>
				<add tagPrefix="user" tagName="HomeCategoryList" src="~/CLIENT/UserControl/homecategorylist.ascx"/>
				<add tagPrefix="user" tagName="HomeSubCategoryList" src="~/CLIENT/UserControl/homesubcategorylist.ascx"/>
				<add tagPrefix="user" tagName="ShippingAddressDetails" src="~/CLIENT/UserControl/shippingaddressdetails.ascx"/>
				<add tagPrefix="user" tagName="ViewOrderDetails" src="~/CLIENT/UserControl/vieworderdetails.ascx"/>
				<add tagPrefix="user" tagName="ViewShippingAddressBook" src="~/CLIENT/UserControl/viewshippingaddressbook.ascx"/>
				<add tagPrefix="user" tagName="viewPaymentOptions" src="~/CLIENT/UserControl/viewpaymentoptions.ascx"/>
				<add tagPrefix="user" tagName="americanexpressdetails" src="~/CLIENT/UserControl/americanexpressdetails.ascx"/>
				<add tagPrefix="user" tagName="HomePage" src="~/CLIENT/UserControl/homepage.ascx"/>
			</controls>
		</pages>
		<sessionState timeout="60"></sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
