<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="adminsconstring" connectionString="Data Source=SHRADDHA\SQLEXPRESS;Initial Catalog=Shopping Mall;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <system.web>
    <pages styleSheetTheme="ADMIN">
      <namespaces>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Data"/>
      </namespaces>
    </pages>
		
		<compilation debug="true"/>
	</system.web>
</configuration>
